.locationControl {
	width: 300px;
	padding: 10px 8px 5px 6px;
	border: 1px solid black;
}

.menu {
	padding: 0px;
}

.list {
	width: 300px;
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid black;
}

.locationControl ul {
	list-style-type: none; /* Remove default markers */
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.locationControl ul li:first-child {
	width: 100%;
}

.locationControl ul:hover {
	background-color: #009eff4f;
}

.locationControl li {
	padding: 3px 10px;
	cursor: pointer;
}





